.Home {
  text-align: center;
}

.Home-logo {
  width: 100px;
  pointer-events: none;
  height: auto;
    position: absolute;
    top: 25px;
    left: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .Home-logo {
    animation: Home-logo-spin infinite 20s linear;
  }
}

.Home-header {
  background: linear-gradient(#311a4d, #311a4d);
  min-height: 150px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.Home-header-text {
  position: absolute; /* Position relative to header */
  color: white;
  right: 380px;
  top:20px;
  z-index: 2; /* Ensure text is above the logo if they overlap */
}

.Home-link {
  color: #311a4d;
}
