/* ProjectList.css */

.table-container {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.table th,
.table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
}

.search-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid rgba(51, 0, 62, 0.916);
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 14em;
  width: 500px; /* Adjust the width as needed */
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #311a4d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #2c1a42;
}

.center {
  text-align: center;
}

.addProjectButton {
  margin-left: 20px;
}  

.edit-icon {
  margin-left: 10px;
  cursor: pointer;
}

.table th:first-child,
.table td:first-child {
  min-width: 150px;
}