.addSampleButton {
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 20px;
    float: inline-start;
  }

.table-container {
  margin-top: 20px;
}

.table td:last-child {
  max-width: 500px;
  word-wrap: break-word;
}